.mySlides {
  border: 2px solid steelblue;
  display: none;
}

.fade {
  opacity: 0;
  animation-name: fade;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.mySlides img {
  width: 100%;
  height: calc(100vh - 185px);
}
